* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
/* 파랑색+밑줄 없애기(마우스 대도 반응x) */
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}
a:visited {
  text-decoration: none;
  color: #3f464d;
}
a:active {
  text-decoration: none;
  color: #3f464d;
}
a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0 2rem;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.head-container .head-brand a:hover {
  color: red;
  cursor: help;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2em;
  color: blue;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: white;
  position: relative;
}

.main {
  height: 360px;
  background-image: url("https://rawcdn.githack.com/chojun917/repo/65d026e3abc4293749679c5069fe01f01e1fbd98/img/images.png");
  background-size: cover;
  background-position: center 10%;
  z-index: 1;
}

/* 배경 이미지에 색상을 어둡게 하기 위해, 어두운 색상으로 이미지 상위에 투명도를 주어 덮어씌움 */
.main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 89);
  opacity: 0.8;
  z-index: 2;
  margin-top: 60px; /* position 이 fixed 일 경우, 문서 흐름에서 빠지므로, 이 부분은 margin 으로 적용 */
}

.title-container {
  padding-top: 100px;
  padding-botton: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-botton: 0.8rem;
}
.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: 10px 10px 10px -5px aqua;
  transition: 0.4s;
}
.skill:hover {
  transform: translate(0, -5px);
}
.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
  color: black;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.skill-name {
  font-weight: bold;
  color: brown;
  margin-bottom: 0.1rem;
}
.skill-usage {
  font-weight: bold;
  color: black;
}
.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}
.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: gold;
}
.slide-prev {
  font-size: 2rem;
  cursor: pointer;
}
.slide-next {
  font-size: 2rem;
  cursor: pointer;
}
.arrow-container {
  display: flex;
}
.class-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  overflow: hidden;
}
.class-card {
  width: 240px;
  box-shadow: 10px 10px 10px -5px aqua;
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
}
.class-card:hover {
  box-shadow: 10px 10px 0px -5px aqua;
  transform: translate(0, 5px);
}
.class-image {
  width: 240px;
  border-radius: 8px 8px 0 0;
  height: 150px;
}
.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}
.class-skill {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.class-type {
  font-size: 0.9rem;
  color: #949393;
}
.class-format {
  font-size: 0.9rem;
  color: #949393;
  background-color: #0d47a1;
  padding: 0.2rem;
}
.class-desc {
  width: 100;
  margin-top: 0.2rem;
  color: blue;
}
.class-title {
  font-weight: bold;
  color: black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
.class-detail {
  font-size: 0.9rem;
  color: black;
}
#backtotop {
  background-color: rgb(47.48.89);
  width: 40px;
  height: 40px;
  text-align: center;

  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px;
  color: #fff;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 49);
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 500px) {
  .skill-container {
    display: none;
  }
}
